.styles_modal__gNwvD {
  min-width: 900px;
}
.menuColumn {
  float: left;
  width: 450px;
  padding: 10px;
  /* margin: 10px; */
  overflow-y: auto !important;
  height: 620px;
}
.orderColumn {
  float: right;
  width: 400px;
  padding: 10px;
  /* margin: 10px; */
}

/* Clear floats after the columns */

.clreafix {
  clear: both;
}
.loader-container {
  height: 60vh;
  display: flex;
  align-content: center;
  align-items: center;
  vertical-align: center;
}
.loader {
  width: 180px !important;
  height: 180px !important;
  text-align: center;
}
