.styles_modal__gNwvD {
  min-width: 1100px;
}
.menuColumn {
  float: left;
  width: 550px;
  padding: 10px;
  overflow-y: auto !important;
  height: 620px;
}
.orderColumn {
  float: right;
  width: 400px;
  padding: 10px;
  height: 620px;
}

/* Clear floats after the columns */
.clreafix {
  clear: both;
}
.loader-container {
  height: 60vh;
  width: 450px;
  display: flex;
  align-content: center;
  align-items: center;
  vertical-align: center;
}
.loader-container svg {
  margin: 0 28rem;
}
