.totalValue {
  color: red;
  text-align: right;
  font-weight: 700;
}
.totalText {
  font-weight: 700;
  text-align: end;
}

.orderColumn tbody th {
  background: none;
  color: black;
  text-align: left !important;
  border: none;
  border-bottom: 2px solid rgb(39, 38, 38) !important;
}
.orderColumn tbody tr:last-of-type {
  border-top: 2px solid rgb(39, 38, 38) !important;
  border-bottom: none !important;
}
.orderColumn tbody tr:last-of-type td {
  border: none;
}
.orderColumn td {
  padding-left: 20px;
}
.popoverr {
  z-index: 500;
  padding: 25px;
  margin-bottom: 10vh;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 2%;
  background: white;
  bottom: 0 !important;
  position: fixed;
}

.popoverr button {
  margin-top: 20px;
}
.popoverr form {
  width: 200px;
}
