.video-background {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(60%);
}

#intro-sign {
  position: absolute;
  width: 550px;
  top: 30vh;
  left: calc(50% - 220px);
  z-index: 1;
  display: block;
  margin: 0 auto;
}
