.video-background {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(60%);
}

#intro-sign {
  position: absolute;
  width: 550px;
  top: 30vh;
  left: calc(50% - 240px);
  z-index: 1;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 940px) {
  #intro-sign {
    width: 100%;
    max-height: 60vh;
    left: 0%;
  }
}
