#favoriteMeals-container {
  min-height: 600px;
  padding-top: 80px;
}

.favoriteMeals-picture-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.favoriteMeals-picture-wrapper {
  width: 25vw;
  height: 270px;
  display: inline-block;
  overflow: hidden;
}

.favoriteMeals-picture {
  width: 100% !important;
  transform: scale(1.2);
  filter: brightness(0.7);
  height: 300px;
}

.favoriteMeals-picture:hover {
  opacity: 1;
  filter: none;
  transform: scale(1.1);
  transition: all 0.5s;
}
